<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TrialMap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Home</a>
        <a class="nav-item nav-link" href="/trails">Trails</a>
        <a class="nav-item nav-link" href="/trails/new">Add New Trail</a>


      </div>
      <div class="ms-auto">
        <a class="btn btn-outline-dark" href="/auth">Sign in/up</a>
      </div>
    </div>

  </div>
</nav>