<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
</head>

<body>
  <form action="/trails" method="POST">
    <label for="title">Name</label>
    <input type="text" name="trail[title]" id="title">

    <label for="description">Description</label>
    <textarea type="text" id="description" name="trail[description]"></textarea>

    <button>Add new trail</button>
  </form>
</body>

</html>