<% layout("layouts/default") %>

    <h1>All Trails</h1>
    <a href="/trails/new">Add new trail</a>

    <ul>
      <% for(let t of trails) { %>
        <li>
          <%= t.title %>
        </li>
        <% } %>
    </ul>