<% layout("layouts/default") %>

  <h1>Welcome to TrailMap</h1>

  <p>TrailMap is a place where anyone can post their favourite mountain biking trails. Others can leave reviews and rate trails out of ten.</p>