<% layout("layouts/default") %>

  <form class="" action="/trails" method="POST">

    <div class="form-group">
      <label for="title" class="form-label">Trail Title</label>
      <input type="text" class="form-control" id="title" name="trail[title]">
    </div>

    <div class="form-group">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" type="text" id="description" name="trail[description]"
        style="height: 10em;"></textarea>
    </div>


    <div class="form-group">
      <label class="form-label" for="difficulty">Difficulty</label>

      <select class="custom-select m-3" id="difficulty" name="trail[difficulty]">
        <option selected value="easy">Easy</option>
        <option value="moderate">Moderate</option>
        <option value="difficult">Challenging/Difficult</option>
        <option value="hard">Hard</option>

      </select>

    </div>

    <div class="steps">
      <h2 class="mt-5">How to access</h2>
      <p>To make it easier for others to find and access the trail. Please include a list of short steps</p>



    </div>

    <button class="btn btn-warning mt-3" id="step">Add Step</button>
    <button class="btn btn-success mt-3">Add new trail</button>


  </form>